@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import GraphTip
.ig
  position relative
  left 20px
  .years
    position absolute
    left -9px
    top 40px
    span
      display block
      width 37px
      text-align center
      position absolute
      font-weight 700
      font-size 13px
      font-family Oswald, sans-serif
  .flags
  .interaction-pane
  .medal-bands
  svg
    position absolute
    top 75px
    left 0px

  .medal-bands
    display none
    position fixed
    width 100%
    margin-top -7px
    div
      height 40px
      width 100%
      &:first-child
        background lighten(gold, 70%)
      &:nth-child(2)
        background lighten(silver, 70%)
      &:nth-child(3)
        background lighten(#CD7F32, 70%)
  svg
    path
      fill none
      stroke-width 3
      stroke black
    g
      opacity 0.02
    &.active g
      opacity 0
    g.active
      opacity 0.3
  .flags
    z-index 2
    .nation
      transition opacity 0.2s
      .rank
        position absolute
        .img
          width 20px
          height 20px
          border-radius 50%
          background-position 50%, 50%
          background-size cover
          background-repeat no-repeat
          &.slo, &.usa
            background-position 27%, 50%
          &.svk
            background-position 35%, 50%
          &.blr
            background-position 0%, 50%
          box-shadow 0px 0px 3px #c

        &.poradatel
          width 26px
          height 26px
          background lighten(ColorBlue, 75%)
          border-radius 4px
          margin-left -3px
          margin-top -3px
          .img
            margin-left 3px
            margin-top 3px
            box-shadow 0px 0px 3px #0
    &.active .nation
      opacity 0.2
    .nation.active
      opacity 1
  .interaction-pane
    z-index 3
    .year
      position absolute
      width 37px
      height 38px
      margin-left -6px
      margin-top -8px
  .navbutton
    top 685px
    z-index 1
    position fixed
    font-family Oswald, sans-serif
    font-size 16px
    color darken(ColorRed, 50%)
    text-transform uppercase
    font-weight 700
    opacity 1
    transition opacity 0.8s
    &.disabled
      opacity 0
      pointer-events none
      cursor default
    &:before
      content " "
      position absolute
      top -5px
      opacity 1
      transition opacity 0.8s
    &:hover
      text-decoration none
    &:hover:before
      opacity 0.6
  .backbutton
    left 30px
    padding-left 35px
    &:before
      left 0px
      triangle(15px, 27px, 'left', ColorRed)
  .nextbutton
    right 30px
    padding-right 35px
    &:before
      right 0px
      triangle(15px, 27px, 'right', ColorRed)
  .graph-tip
    .contnet
      min-height none
    .medals
      display block
      float right
      span
        display block
        float left
        padding-left 15px
        padding-right 10px
        position relative
        &:last-child
          padding-right 0px
        &:before
          content " "
          position absolute
          top 4px
          left 0px
          width 10px
          height 10px
          border-radius 50%
        &:first-child:before
          background gold
        &:nth-child(2):before
          background silver
        &:nth-child(3):before
          background #CD7F32
